body{
    background-color: antiquewhite;
}
.carrossel {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 1000px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 9s infinite;
}

.slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-300px); }
   
}
img{
    
    height: 300px;
    width: 300px;
    border-radius: 1000px;
}

li{
    color: rgba(255, 0, 0, 0.733);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color:rgba(255, 0, 0, 0.733) ;
}
.icon{
    height: 20px;
    width: 20px;
}